<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Valor original</th>
                    <th>Pipe</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{nombrePropio}}</td>
                    <td>capitalizado (pipe personalizado)</td>
                    <td>{{ nombrePropio | capitalizado:false }}</td>
                </tr>
                <tr>
                    <td>{{heroe}}</td>
                    <td>uppercase</td>
                    <td>{{ heroe | uppercase }}</td>
                </tr>
                <tr>
                    <td>{{heroe}}</td>
                    <td>lowercase</td>
                    <td>{{ heroe | lowercase }}</td>
                </tr>
                <tr>
                    <td>{{heroe}}</td>
                    <td>slice:3</td>
                    <td>{{ heroe | slice:3 }}</td>
                </tr>
                <tr>
                    <td>{{heroe}}</td>
                    <td>slice:0:3</td>
                    <td>{{ heroe | slice:0:3 }}</td>
                </tr>
                <tr>
                    <td>{{numeros}}</td>
                    <td>slice:1:5</td>
                    <td>{{ numeros | slice:1:5 }}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>pelado</td>
                    <td>{{ PI }}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number (redondea a 3 decimales)</td>
                    <td>{{ PI | number}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number formateado con 1.5</td>
                    <td>{{ PI | number:'1.5'}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number formateado con .5</td>
                    <td>{{ PI | number:'.5'}}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent</td>
                    <td>{{ porcentaje | percent }}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent:'2.2-2'</td>
                    <td>{{ porcentaje | percent:'2.2-2' }}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency</td>
                    <td>{{ salario | currency }}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'ARS':'symbol':'.0-0'</td>
                    <td>{{ salario | currency:'ARS':'symbol':'.0-0' }}</td>
                </tr>
                <tr>
                    <td>{{promesita}}</td>
                    <td>async</td>
                    <td>{{ promesita | async }}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>fecha pelada</td>
                    <td>{{ fecha }}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>fecha | date:'medium'</td>
                    <td>{{ fecha | date:'medium' }}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>fecha | date:'short'</td>
                    <td>{{ fecha | date:'short' }}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>fecha | date:'shortDate'</td>
                    <td>{{ fecha | date:'shortDate' }}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>fecha | date:'MMMM - yyyy'</td>
                    <td>{{ fecha | date:'MMMM - yyyy' }}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>fecha | date:'MMMM - yyyy':'':'en'</td>
                    <td>{{ fecha | date:'MMMM - yyyy':'':'en' }}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>fecha | date:'MMMM - yyyy':'':'fr'</td>
                    <td>{{ fecha | date:'MMMM - yyyy':'':'fr' }}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>Idioma actual: {{idiomaActual}}
                        <br> Elección entre idiomas: <br>
                        <button (click)="idiomaActual='es'" type="button" class="mr-1 btn btn-primary">Español</button>
                        <button (click)="idiomaActual='en'" type="button" class="mr-1 btn btn-secondary">Inglés</button>
                        <button (click)="idiomaActual='fr'" type="button" class="mr-1 btn btn-success">Francés</button>
                    </td>
                    <td>{{ fecha | date:'MMMM - yyyy':'':idiomaActual }}</td>
                </tr>
                <tr>
                    <td>{{contrasena}}</td>
                    <td>
                        Ocultar: {{ocultarContra}}
                        <br>
                        <button (click)="ocultarContra=!ocultarContra" class="btn btn-outline-primary" type="button">Mostrar / Ocultar</button>
                    </td>
                    <td>{{ contrasena | mostrarContrasena:ocultarContra }}</td>
                </tr>
            </tbody>
        </table>

        <br>

        <h3>Slice</h3>
        <ul>
            <li *ngFor="let item of numeros | slice:5:2999">{{item}}</li>
        </ul>

        <h3>JSON</h3>
        <hr>
        <div class="row">
            <div class="col mb-2">
                <pre>
                {{persona | json}}
              </pre>
            </div>
        </div>

        <h3>DOM seguro</h3>
        <hr>
        <div class="row mb-5">
            <iframe width="560" height="315" [src]="videoURL | domseguro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>

    </div>
</div>